<a href="https://colab.research.google.com/github/LeticiaFerreira04/limpeza-de-dados/blob/main/Limpeza_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza de dados da base de acidentes rodoviários nos EUA.

### Visualização e limpeza dos dados

### Link: https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents

In [ ]:
# Importação da biblioteca

import pandas as pd

In [24]:
# Leitura do arquivo

dataframe = pd.read_csv("/content/US_Accidents_Dec21_updated.csv", encoding="utf-8")
dataframe

<ipython-input-24-eca297957d8b>:3: DtypeWarning: Columns (30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("/content/US_Accidents_Dec21_updated.csv", encoding="utf-8")

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443499,A-443500,2,2021-12-24 07:55:11,2021-12-24 09:10:11,29.847221,-95.408206,29.847217,-95.409047,0.050,Incident on W TIDWELL RD near W MONTGOMERY RD ...,...,False,False,False,False,True,False,Day,Day,Day,Day
443500,A-443501,2,2021-12-18 09:21:00,2021-12-18 10:39:30,33.463220,-112.096797,33.464105,-112.097862,0.087,Incident on GRAND AVE near HOUSE 1700 Expect d...,...,False,False,True,False,False,False,Day,Day,Day,Day
443501,A-443502,2,2021-10-15 20:48:30,2021-10-15 22:06:30,33.817042,-84.362926,33.798296,-84.393060,2.161,Stationary traffic on I-85 S - GA-403 S from L...,...,False,False,False,False,False,False,Night,Night,Night,Night
443502,A-443503,2,2021-11-24 11:51:30,2021-11-24 14:03:22,25.685056,-80.384522,25.686434,-80.385227,0.105,Slow traffic on FL-94 from SW 90th St to Flori...,...,False,False,False,False,False,False,Day,Day,Day,Day
443503,A-443504,2,2021-04-08 03:47:30,2021-04-08 11:14:00,33.974646,-118.285766,33.974658,-118.282768,0.172,Slow traffic from S Vermont Ave (Florence Ave)...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
dataframe = dataframe.head(100000)
dataframe

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,A-99996,2,2016-05-20 15:56:27,2016-05-20 21:56:27,39.958020,-75.163290,39.958420,-75.166470,0.171,At Broad St - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
99996,A-99997,2,2016-05-20 16:03:04,2016-05-20 22:03:04,40.700200,-73.985110,40.698410,-73.983150,0.161,At Manhattan BR/Exit 29A - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
99997,A-99998,2,2016-05-20 16:05:47,2016-05-20 22:05:47,39.872430,-75.102280,39.871020,-75.102120,0.098,Ramp to Exit 26 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
99998,A-99999,3,2016-05-20 16:04:24,2016-05-20 22:04:24,40.778840,-73.826470,40.784510,-73.824330,0.407,At 20th Ave/Exit 15 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
99999,A-100000,2,2016-05-20 16:18:53,2016-05-20 22:18:53,40.109540,-75.294850,40.111060,-75.286980,0.429,At Germantown Pike/Exit 333 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [26]:
# Verificando a quantidade de linhas e colunas antes de remover as duplicatas

dataframe.shape

(100000, 47)

In [27]:
# Removendo as linhas duplicadas

dataframe = dataframe.drop_duplicates()
dataframe.shape

(100000, 47)

In [28]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     100000 non-null  object
 1   Severity               100000 non-null  int64
 2   Start_Time             100000 non-null  object
 3   End_Time               100000 non-null  object
 4   Start_Lat              100000 non-null  float64
 5   Start_Lng              100000 non-null  float64
 6   End_Lat                100000 non-null  float64
 7   End_Lng                100000 non-null  float64
 8   Distance(mi)           100000 non-null  float64
 9   Description            100000 non-null  object
 10  Number                 20843 non-null   float64
 11  Street                 100000 non-null  object
 12  Side                   100000 non-null  object
 13  City                   99985 non-null   object
 14  County                 100000 non-null  object
 15  State                  100000 non-null  object
 16  Zipcode                99939 non-null   object
 17  Country                100000 non-null  object
 18  Timezone               99927 non-null   object
 19  Airport_Code           99813 non-null   object
 20  Weather_Timestamp      99103 non-null   object
 21  Temperature(F)         97686 non-null   float64
 22  Wind_Chill(F)          17853 non-null   float64
 23  Humidity(%)            97597 non-null   float64
 24  Pressure(in)           98198 non-null   float64
 25  Visibility(mi)         97382 non-null   float64
 26  Wind_Direction         99091 non-null   object
 27  Wind_Speed(mph)        83672 non-null   float64
 28  Precipitation(in)      11519 non-null   float64
 29  Weather_Condition      97425 non-null   object
 30  Amenity                100000 non-null  object
 31  Bump                   100000 non-null  object
 32  Crossing               100000 non-null  object
 33  Give_Way               100000 non-null  object
 34  Junction               100000 non-null  object
 35  No_Exit                100000 non-null  object
 36  Railway                100000 non-null  object
 37  Roundabout             100000 non-null  object
 38  Station                100000 non-null  object
 39  Stop                   100000 non-null  object
 40  Traffic_Calming        100000 non-null  object
 41  Traffic_Signal         100000 non-null  object
 42  Turning_Loop           100000 non-null  object
 43  Sunrise_Sunset         99985 non-null   object
 44  Civil_Twilight         99985 non-null   object
 45  Nautical_Twilight      99985 non-null   object
 46  Astronomical_Twilight  99985 non-null   object
dtypes: float64(13), int64(1), object(33)
memory usage: 36.6+ MB

In [29]:
# Trocando a nomenclatura

df_renomeado = dataframe.rename(columns= {"Number": "Street_Number"})
df_renomeado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     100000 non-null  object
 1   Severity               100000 non-null  int64
 2   Start_Time             100000 non-null  object
 3   End_Time               100000 non-null  object
 4   Start_Lat              100000 non-null  float64
 5   Start_Lng              100000 non-null  float64
 6   End_Lat                100000 non-null  float64
 7   End_Lng                100000 non-null  float64
 8   Distance(mi)           100000 non-null  float64
 9   Description            100000 non-null  object
 10  Street_Number          20843 non-null   float64
 11  Street                 100000 non-null  object
 12  Side                   100000 non-null  object
 13  City                   99985 non-null   object
 14  County                 100000 non-null  object
 15  State                  100000 non-null  object
 16  Zipcode                99939 non-null   object
 17  Country                100000 non-null  object
 18  Timezone               99927 non-null   object
 19  Airport_Code           99813 non-null   object
 20  Weather_Timestamp      99103 non-null   object
 21  Temperature(F)         97686 non-null   float64
 22  Wind_Chill(F)          17853 non-null   float64
 23  Humidity(%)            97597 non-null   float64
 24  Pressure(in)           98198 non-null   float64
 25  Visibility(mi)         97382 non-null   float64
 26  Wind_Direction         99091 non-null   object
 27  Wind_Speed(mph)        83672 non-null   float64
 28  Precipitation(in)      11519 non-null   float64
 29  Weather_Condition      97425 non-null   object
 30  Amenity                100000 non-null  object
 31  Bump                   100000 non-null  object
 32  Crossing               100000 non-null  object
 33  Give_Way               100000 non-null  object
 34  Junction               100000 non-null  object
 35  No_Exit                100000 non-null  object
 36  Railway                100000 non-null  object
 37  Roundabout             100000 non-null  object
 38  Station                100000 non-null  object
 39  Stop                   100000 non-null  object
 40  Traffic_Calming        100000 non-null  object
 41  Traffic_Signal         100000 non-null  object
 42  Turning_Loop           100000 non-null  object
 43  Sunrise_Sunset         99985 non-null   object
 44  Civil_Twilight         99985 non-null   object
 45  Nautical_Twilight      99985 non-null   object
 46  Astronomical_Twilight  99985 non-null   object
dtypes: float64(13), int64(1), object(33)
memory usage: 36.6+ MB

In [30]:
# Convertendo as colunas 'Start_Time' e 'End_ Time para o tipo data

df_renomeado.Start_Time = pd.to_datetime(df_renomeado.Start_Time)
df_renomeado.End_Time = pd.to_datetime(df_renomeado.End_Time)

In [31]:
# Visualização

df_renomeado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 47 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     100000 non-null  object
 1   Severity               100000 non-null  int64
 2   Start_Time             100000 non-null  datetime64[ns]
 3   End_Time               100000 non-null  datetime64[ns]
 4   Start_Lat              100000 non-null  float64
 5   Start_Lng              100000 non-null  float64
 6   End_Lat                100000 non-null  float64
 7   End_Lng                100000 non-null  float64
 8   Distance(mi)           100000 non-null  float64
 9   Description            100000 non-null  object
 10  Street_Number          20843 non-null   float64
 11  Street                 100000 non-null  object
 12  Side                   100000 non-null  object
 13  City                   99985 non-null   object
 14  County                 100000 non-null  object
 15  State                  100000 non-null  object
 16  Zipcode                99939 non-null   object
 17  Country                100000 non-null  object
 18  Timezone               99927 non-null   object
 19  Airport_Code           99813 non-null   object
 20  Weather_Timestamp      99103 non-null   object
 21  Temperature(F)         97686 non-null   float64
 22  Wind_Chill(F)          17853 non-null   float64
 23  Humidity(%)            97597 non-null   float64
 24  Pressure(in)           98198 non-null   float64
 25  Visibility(mi)         97382 non-null   float64
 26  Wind_Direction         99091 non-null   object
 27  Wind_Speed(mph)        83672 non-null   float64
 28  Precipitation(in)      11519 non-null   float64
 29  Weather_Condition      97425 non-null   object
 30  Amenity                100000 non-null  object
 31  Bump                   100000 non-null  object
 32  Crossing               100000 non-null  object
 33  Give_Way               100000 non-null  object
 34  Junction               100000 non-null  object
 35  No_Exit                100000 non-null  object
 36  Railway                100000 non-null  object
 37  Roundabout             100000 non-null  object
 38  Station                100000 non-null  object
 39  Stop                   100000 non-null  object
 40  Traffic_Calming        100000 non-null  object
 41  Traffic_Signal         100000 non-null  object
 42  Turning_Loop           100000 non-null  object
 43  Sunrise_Sunset         99985 non-null   object
 44  Civil_Twilight         99985 non-null   object
 45  Nautical_Twilight      99985 non-null   object
 46  Astronomical_Twilight  99985 non-null   object
dtypes: datetime64[ns](2), float64(13), int64(1), object(31)
memory usage: 36.6+ MB

In [32]:
# Verificação de valores nulos

df_renomeado.isnull().sum()

ID                           0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                      0
End_Lng                      0
Distance(mi)                 0
Description                  0
Street_Number            79157
Street                       0
Side                         0
City                        15
County                       0
State                        0
Zipcode                     61
Country                      0
Timezone                    73
Airport_Code               187
Weather_Timestamp          897
Temperature(F)            2314
Wind_Chill(F)            82147
Humidity(%)               2403
Pressure(in)              1802
Visibility(mi)            2618
Wind_Direction             909
Wind_Speed(mph)          16328
Precipitation(in)        88481
Weather_Condition         2575
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset              15
Civil_Twilight              15
Nautical_Twilight           15
Astronomical_Twilight       15
dtype: int64

In [33]:
# Substituindo os valores nulos

df_renomeado["End_Lat"] = df_renomeado["End_Lat"].fillna("N/A")
df_renomeado["End_Lng"] = df_renomeado["End_Lng"].fillna("N/A")
df_renomeado["Street_Number"] = df_renomeado["Street_Number"].fillna("N/A")
df_renomeado["City"] = df_renomeado["City"].fillna("N/A")
df_renomeado["Sunrise_Sunset"] = df_renomeado["Sunrise_Sunset"].fillna("N/A")
df_renomeado["Civil_Twilight"] = df_renomeado["Civil_Twilight"].fillna("N/A")
df_renomeado["Nautical_Twilight"] = df_renomeado["Nautical_Twilight"].fillna("N/A")
df_renomeado["Astronomical_Twilight"] = df_renomeado["Astronomical_Twilight"].fillna("N/A")
df_renomeado["Timezone"] = df_renomeado["Timezone"].fillna("N/A")
df_renomeado["Airport_Code"] = df_renomeado["Airport_Code"].fillna("N/A")
df_renomeado["Weather_Timestamp"] = df_renomeado["Weather_Timestamp"].fillna("N/A")
df_renomeado["Wind_Direction"] = df_renomeado["Wind_Direction"].fillna("N/A")
df_renomeado["Weather_Condition"] = df_renomeado["Weather_Condition"].fillna("N/A")

df_renomeado["Zipcode"] = df_renomeado["Zipcode"].fillna(99999)

df_renomeado["Temperature(F)"] = df_renomeado["Temperature(F)"].fillna(999)
df_renomeado["Wind_Chill(F)"] = df_renomeado["Wind_Chill(F)"].fillna(999)

df_renomeado["Humidity(%)"] = df_renomeado["Humidity(%)"].fillna(0)
df_renomeado["Pressure(in)"] = df_renomeado["Pressure(in)"].fillna(0)
df_renomeado["Visibility(mi)"] = df_renomeado["Visibility(mi)"].fillna(0)
df_renomeado["Wind_Speed(mph)"] = df_renomeado["Wind_Speed(mph)"].fillna(0)
df_renomeado["Precipitation(in)"] = df_renomeado["Precipitation(in)"].fillna(0)

In [34]:
# Verificando se todos os campos foram preenchidos

df_renomeado.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Street_Number            0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [35]:
# Estatística Descritiva Geral.

df_renomeado.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,2.455290,36.942501,-89.526425,36.942575,-89.526194,0.794974,85.073154,825.451204,64.127240,29.482432,9.133141,7.542200,0.008055
std,0.713082,5.008727,14.012552,5.008879,14.012582,1.906605,142.049338,372.350690,22.939915,4.006285,3.521917,6.491503,0.179307
min,2.000000,25.129476,-123.526160,25.130927,-123.526160,0.000000,-20.200000,-41.500000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,33.461172,-95.564318,33.461180,-95.564210,0.145000,51.100000,999.000000,49.000000,29.910000,10.000000,3.500000,0.000000
50%,2.000000,38.485129,-85.753489,38.485149,-85.753615,0.404000,68.000000,999.000000,66.000000,30.030000,10.000000,6.900000,0.000000
75%,3.000000,40.999830,-80.137160,40.999085,-80.137490,0.740000,79.000000,999.000000,83.000000,30.140000,10.000000,10.400000,0.000000
max,4.000000,48.564331,-67.849851,48.580446,-67.849870,151.525000,999.000000,999.000000,100.000000,30.920000,111.000000,822.800000,10.020000